Repository devonfw/devon4j, pull requests merged in 2019-07, with the labels that each got.

#111 Spring boot upgrade and JSON mapping issue
  modules/json/src/main/java/com/devonfw/module/json/common/base/ObjectMapperFactory.java
  modules/json/src/main/java/com/devonfw/module/json/common/base/type/JsonPage.java
  pom.xml
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/config/ApplicationObjectMapperFactory.java
  templates/server/src/main/resources/archetype-resources/pom.xml
Labels: JSON, enhancement

#117 Feature/114 id ref json
  modules/json/pom.xml
  modules/json/src/main/java/com/devonfw/module/json/common/base/ObjectMapperFactory.java
  modules/json/src/main/java/com/devonfw/module/json/common/base/type/IdRefJsonDeserializer.java
  modules/json/src/main/java/com/devonfw/module/json/common/base/type/IdRefJsonSerializer.java
  modules/json/src/main/java/com/devonfw/module/json/common/base/type/JsonPage.java
  modules/json/src/test/java/com/devonfw/module/json/common/base/type/PageableJsonTest.java
  modules/json/src/test/java/com/devonfw/module/json/common/base/type/TestObjectMapperFactory.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/config/ApplicationObjectMapperFactory.java
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/config/app/common/dozer-mapping.xml
Labels: JSON, bug, common, configuration, enhancement

#119 #77: consistently removed devon4j-configuration also from BOM
  boms/minimal/pom.xml
Labels: SCM, enhancement

#120 #97: updated owasp dependency-check and prevent breaking site build
  modules/json/src/main/java/com/devonfw/module/json/common/base/ObjectMapperFactory.java
  modules/json/src/test/java/com/devonfw/module/json/common/base/type/ObjectMapperFactoryTest.java
  pom.xml
  templates/server/src/main/resources/archetype-resources/pom.xml
Labels: SCM, enhancement, security
