Repository devonfw/devon4j, pull requests merged in 2019-09, with the labels that each got.

#140 #108: fixed javadoc for JDK11
  pom.xml
Labels: SCM, bug, enhancement

#142 #141: fixed wiki/documentation links
  modules/cxf-client-rest/src/main/java/com/devonfw/module/cxf/common/impl/client/rest/RestServiceExceptionMapper.java
  modules/json/src/test/java/com/devonfw/module/json/common/base/type/TestObjectMapperFactory.java
  modules/rest/src/main/java/com/devonfw/module/rest/service/impl/RestServiceExceptionFacade.java
  modules/test/src/main/java/com/devonfw/module/test/common/api/category/CategoryComponentTest.java
  modules/test/src/main/java/com/devonfw/module/test/common/api/category/CategoryModuleTest.java
  modules/test/src/main/java/com/devonfw/module/test/common/api/category/CategorySubsystemTest.java
  modules/test/src/main/java/com/devonfw/module/test/common/api/category/CategorySystemTest.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/config/ApplicationObjectMapperFactory.java
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/config/application.properties
Labels: documentation, enhancement

#144 #124: fixed layer TOC
  documentation/devon4j-doc.asciidoc
Labels: documentation, enhancement

#143 #133: removed duplicated property java.version
  templates/server/src/main/resources/archetype-resources/server/pom.xml
Labels: enhancement, template

#158 junit update devonj_test_jpa
  boms/minimal/pom.xml
  modules/test-jpa/src/main/java/com/devonfw/module/test/common/base/ComponentDbTest.java
Labels: SCM, dataaccess, test
