Repository devonfw/devon4j, pull requests merged in 2019-05, with the labels that each got.

#83 #77 removed configuration
  docs/README.md
  docs/oomph/projects/devon4j.setup
  modules/configuration/pom.xml
  modules/pom.xml
Labels: enhancement

#89 fix batch template issue #https://github.com/devonfw/devon4j/issues/67
  modules/jpa-basic/pom.xml
  templates/server/src/main/resources/archetype-resources/__batch__/src/main/java/__packageInPathFormat__/SpringBootBatchApp.java
  templates/server/src/main/resources/archetype-resources/__batch__/src/main/resources/db/migration/h2/V0005__Add_batch_tables.sql
Labels: batch, bug

#91 update documentation ()
  documentation/coding-conventions.asciidoc
  documentation/devon4j-doc.asciidoc
  documentation/guide-component-facade.asciidoc
  documentation/guide-component.asciidoc
  documentation/guide-jms.asciidoc
  documentation/guide-jpa.asciidoc
  documentation/guide-json.asciidoc
  documentation/guide-logic-layer.asciidoc
  documentation/guide-soap.asciidoc
  documentation/guide-transferobject.asciidoc
  documentation/guide-usecase.asciidoc
Labels: documentation, enhancement, logic
