Repository devonfw/devon4j, pull requests merged in 2020-03, with the labels that each got.

#215 Documentation for authentication of batches
  documentation/guide-batch-layer.asciidoc
Labels: batch, documentation, enhancement

#226 #198: deploy SNAPSHOTs to OSSRH
  .mvn/settings.xml
  .travis.yml
  pom.xml
Labels: SCM, enhancement

#222 #202: Upgrade architecture documentation.
  documentation/architecture.asciidoc
  documentation/images/T-Architecture.png
  documentation/images/T-Architecture.svg
  documentation/images/T-Architecture.vsd
Labels: documentation, enhancement
