Repository devonfw/devon4j, pull requests merged in 2020-02, with the labels that each got.

#206 Feature/200 multipage workaround
  documentation/architecture.asciidoc
  documentation/coding-conventions.asciidoc
  documentation/devon4j-architecture.asciidoc
  documentation/devon4j-coding.asciidoc
Labels: documentation, enhancement

#207 Use more specific exception for not found entity
  modules/jpa-spring-data/src/main/java/com/devonfw/module/jpa/dataaccess/api/data/GenericRepository.java
Labels: dataaccess, enhancement

#205 Set slf4j-api to 1.7.28 and include jcl-over-slf4j in dependencymgmt
  boms/bom/pom.xml
Labels: enhancement, logging

#209 Include performance info in separate fields
  modules/logging/pom.xml
  modules/logging/src/main/java/com/devonfw/module/logging/common/impl/PerformanceLogFilter.java
Labels: logging

#191 Rework of devon4j-batch module
  documentation/guide-batch-layer.asciidoc
  modules/batch/src/main/java/com/devonfw/module/batch/common/base/SpringBootBatchCommandLine.java
  modules/batch/src/main/java/com/devonfw/module/batch/common/impl/JobLauncherWithAdditionalRestartCapabilities.java
Labels: batch, documentation, enhancement, spring

#212 #211: fixed spring config for access-control
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/service/impl/config/WebSecurityBeansConfig.java
Labels: bug, configuration, security, spring

#214 Feature/147 cleanup
  modules/beanmapping-dozer/pom.xml
  modules/beanmapping-orika/src/main/java/com/devonfw/module/beanmapping/common/base/BaseOrikaConfig.java
  modules/jpa-dao/src/test/java/com/devonfw/example/general/common/api/config/BeansOrikaConfig.java
  modules/pom.xml
  modules/security/src/main/java/com/devonfw/module/security/common/base/accesscontrol/AbstractAccessControlProvider.java
  modules/security/src/main/java/com/devonfw/module/security/common/base/accesscontrol/PrincipalGroupProviderGroupImpl.java
  modules/security/src/main/java/com/devonfw/module/security/common/impl/accesscontrol/AccessControlSchemaProviderImpl.java
  modules/security/src/main/java/com/devonfw/module/security/common/impl/accesscontrol/AccessControlSchemaXmlMapper.java
  modules/security/src/main/java/com/devonfw/module/security/common/impl/accesscontrol/AccessControlSchemaXsdWriter.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/config/BeansOrikaConfig.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/service/impl/config/WebSecurityBeansConfig.java
Labels: common

#219 #200: devonfw/docgen#18: reworked structure of devon4j doc to fix links
  documentation/devon4j-architecture.asciidoc
  documentation/devon4j-coding.asciidoc
  documentation/devon4j-doc.asciidoc
  documentation/devon4j-guides.asciidoc
  documentation/devon4j-layers.asciidoc
  documentation/devon4j-tutorials.asciidoc
  documentation/devon4j.asciidoc
Labels: documentation, enhancement
