Repository devonfw/devon4j, pull requests merged in 2020-12, with the labels that each got.

#315 devon4j mannual correction
  documentation/architecture.asciidoc
  documentation/coding-conventions.asciidoc
  documentation/guide-batch-layer.asciidoc
  documentation/guide-component-facade.asciidoc
  documentation/guide-component.asciidoc
  documentation/guide-dataaccess-layer.asciidoc
  documentation/guide-logic-layer.asciidoc
  documentation/guide-service-layer.asciidoc
  documentation/guide-service-versioning.asciidoc
  documentation/guide-usecase.asciidoc
Labels: documentation, enhancement

#313 Support for CompletableFuture in async service client
  modules/http-client/src/main/java/com/devonfw/module/httpclient/common/impl/AbstractAsyncServiceHttpClient.java
  modules/service/src/main/java/com/devonfw/module/service/common/api/client/AsyncServiceClient.java
  modules/service/src/main/java/com/devonfw/module/service/common/base/client/async/AbstractAsyncServiceClient.java
  starters/starter-http-client-rest-async/src/test/java/com/devonfw/module/httpclient/common/impl/client/rest/HttpRestClientTest.java
Labels: common, enhancement, service

#322 devon4j application failed to start
  templates/server/src/main/resources/archetype-resources/core/pom.xml
Labels: bug, enhancement, template

#325 #324: fix of NPE in error handling
  modules/service/src/main/java/com/devonfw/module/service/common/base/client/async/AbstractAsyncServiceClient.java
Labels: bug, enhancement, logging, service

#328 #327: fix error handling for completable future
  modules/http-client/src/main/java/com/devonfw/module/httpclient/common/impl/AbstractAsyncServiceHttpClient.java
  modules/http-client/src/main/java/com/devonfw/module/httpclient/common/impl/ErrorHandlerThrowImmediately.java
  modules/service/src/main/java/com/devonfw/module/service/common/api/client/AsyncServiceClient.java
  modules/service/src/main/java/com/devonfw/module/service/common/api/client/ServiceClientFactory.java
  modules/service/src/main/java/com/devonfw/module/service/common/base/client/async/AbstractAsyncServiceClient.java
  starters/starter-http-client-rest-async/src/test/java/com/devonfw/module/httpclient/common/impl/client/rest/HttpRestClientTest.java
  starters/starter-http-client-rest-async/src/test/java/com/devonfw/module/httpclient/common/impl/client/rest/TestResultHandler.java
Labels: bug, enhancement, service
