Repository devonfw/devon4j, pull requests merged in 2020-04, with the labels that each got.

#240 Add unreferenced guides
  documentation/devon4j.asciidoc
Labels: documentation, enhancement

#233 various version updates
  boms/bom/pom.xml
  modules/test/pom.xml
  pom.xml
  starters/starter-spring-data-jpa/src/test/java/com/devonfw/module/jpa/dataaccess/api/DefaultRepositoryTest.java
  templates/server/src/main/resources/archetype-resources/core/src/test/java/__packageInPathFormat__/general/common/base/test/DbTestHelper.java
Labels: SCM, enhancement, security, spring

#242 #239: improved ETO support to be reusable for custom ID types
  modules/basic/src/main/java/com/devonfw/module/basic/common/api/to/AbstractEto.java
  modules/basic/src/main/java/com/devonfw/module/basic/common/api/to/AbstractGenericEto.java
  modules/beanmapping-dozer/src/test/java/com/devonfw/module/beanmapping/common/impl/dozer/BeanMapperImplDozerTest.java
  modules/beanmapping-orika/src/main/java/com/devonfw/module/beanmapping/common/base/BaseOrikaConfig.java
  modules/beanmapping-orika/src/main/java/com/devonfw/module/beanmapping/common/impl/orika/BeanMapperImplOrika.java
  modules/beanmapping-orika/src/main/java/com/devonfw/module/beanmapping/common/impl/orika/CustomMapperEto.java
  modules/beanmapping-orika/src/test/java/com/devonfw/module/beanmapping/common/impl/orika/BeanMapperImplOrikaTest.java
  modules/beanmapping-orika/src/test/java/com/devonfw/module/beanmapping/common/impl/orika/OrikaConfig.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/config/BeansOrikaConfig.java
Labels: common, enhancement

#244 #171: radical cleanup of archetype
  documentation/tutorial-newapp.asciidoc
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/NlsBundleApplicationRoot.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/UserProfile.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/exception/ApplicationBusinessException.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/exception/ApplicationException.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/exception/ApplicationTechnicalException.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/exception/NoActiveUserException.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/common/api/to/UserProfileTo.java
  templates/server/src/main/resources/archetype-resources/api/src/main/java/__packageInPathFormat__/general/service/api/rest/SecurityRestService.java
  templates/server/src/main/resources/archetype-resources/api/src/test/java/__packageInPathFormat__/ToTest.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/SpringBootApp.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/service/impl/rest/ApplicationAccessDeniedHandler.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/service/impl/rest/SecurityRestServiceImpl.java
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/application.properties
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/migration/1.0/V0001__Create_Sequence.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/h2/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/hana/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/mssql/V0001__Create_Sequence.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/mssql/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/mysql/V0001__Create_Sequence.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/mysql/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/oracle/V0001__Create_Sequence.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/oracle/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/postgresql/V0001__Create_Sequence.sql
  templates/server/src/main/resources/archetype-resources/core/src/main/resources/db/type/postgresql/V0002__Create_RevInfo.sql
  templates/server/src/main/resources/archetype-resources/core/src/test/java/__packageInPathFormat__/general/service/impl/rest/SecurityRestServiceImplTest.java
  templates/server/src/main/resources/archetype-resources/core/src/test/resources/config/application.properties
  templates/server/src/main/resources/archetype-resources/core/src/test/resources/db/test/V0001__InitDb.sql
Labels: enhancement, template

#247 #241: JWT: added spring-boot starters and auto-config, added JUnit tests
  boms/minimal/pom.xml
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/api/JwtCreator.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/base/JwtAuthenticationFilter.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtAutoConfiguration.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtConfigProperties.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtManagerImpl.java
  modules/security-jwt/src/test/java/com/devonfw/module/security/jwt/common/impl/JwtConfigPropertiesTest.java
  modules/security-jwt/src/test/java/com/devonfw/test/app/TestApplication.java
  modules/security-jwt/src/test/resources/config/application.properties
  modules/security-keystore/src/main/java/com/devonfw/module/security/keystore/common/impl/KeyStoreAutoConfiguration.java
  modules/security-keystore/src/test/java/com/devonfw/module/security/TestApplication.java
  modules/security-keystore/src/test/java/com/devonfw/module/security/keystore/common/api/KeyStoreAccessTest.java
  modules/security-keystore/src/test/java/com/devonfw/test/app/TestApplication.java
  starters/pom.xml
  starters/starter-security-jwt/pom.xml
  starters/starter-security-jwt/src/main/resources/META-INF/spring.factories
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtAuthenticatorTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtComponentTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtCreatorTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtManagerTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/test/app/TestApplication.java
  starters/starter-security-jwt/src/test/resources/config/application.properties
  starters/starter-security-jwt/src/test/resources/config/keystore.pkcs
  starters/starter-security-keystore/pom.xml
  starters/starter-security-keystore/src/main/resources/META-INF/spring.factories
Labels: enhancement, security, test

#245 update jwt
  documentation/guide-jwt.asciidoc
  documentation/images/jwt_flow.png
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtAuthenticatorImpl.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtCreatorImpl.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtManagerImpl.java
Labels: documentation, enhancement, security

#249 #241: fixed JUnits with time-travel (also forward clock to io.jsonwebtoken parser)
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtManagerImpl.java
Labels: enhancement, test

#248 #241: jwt documentation update
  documentation/guide-jwt.asciidoc
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/base/JwtAuthenticationFilter.java
Labels: documentation, enhancement, security
