Repository devonfw/devon4j, pull requests merged in 2021-06, with the labels that each got.

#398 Issue#385: ROLE prefix removed
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/api/security/ApplicationAccessControlConfig.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/security/BaseUserDetailsService.java
Labels: enhancement, security, spring, template

#402 #400: no ROLE_ prefix using authorities
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/common/impl/security/BaseUserDetailsService.java
  templates/server/src/main/resources/archetype-resources/core/src/main/java/__packageInPathFormat__/general/service/impl/config/BaseWebSecurityConfig.java
Labels: common, enhancement, security, template

#399 #397: support JWT microprofile
  CHANGELOG.asciidoc
  documentation/guide-jwt.asciidoc
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/api/JwtManager.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/base/JwtConstants.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtAuthenticatorImpl.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtConfigProperties.java
  modules/security-jwt/src/main/java/com/devonfw/module/security/jwt/common/impl/JwtCreatorImpl.java
  modules/security/src/main/java/com/devonfw/module/security/common/api/accesscontrol/AccessControlProvider.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtAuthenticatorTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtComponentTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtCreatorTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/api/JwtManagerTest.java
  starters/starter-security-jwt/src/test/java/com/devonfw/module/security/jwt/common/base/kafka/JwtTokenValidationAspectTest.java
Labels: common, configuration, enhancement, security

#403 #393: improved/fixed idref doc
  documentation/guide-jpa-idref.asciidoc
  documentation/guide-jpa.asciidoc
  modules/basic/src/main/java/com/devonfw/module/basic/common/api/reference/IdRef.java
  modules/jpa-basic/src/main/java/com/devonfw/module/jpa/dataaccess/api/JpaInitializer.java
Labels: dataaccess, documentation, enhancement, spring

#404 #393: derive Application test classes from DbTest
  templates/server/src/main/resources/archetype-resources/core/src/test/java/__packageInPathFormat__/general/common/base/test/ApplicationComponentTest.java
  templates/server/src/main/resources/archetype-resources/core/src/test/java/__packageInPathFormat__/general/common/base/test/ApplicationSubsystemTest.java
Labels: dataaccess, enhancement, template, test

#405 #216: servicedoc 1.0.0, generate by default
  CHANGELOG.asciidoc
  pom.xml
  templates/server/src/main/resources/archetype-resources/pom.xml
Labels: enhancement, service, template

#395 #216: update servicedoc and add to regular build
  templates/server/src/main/resources/archetype-resources/pom.xml
Labels: SCM, documentation, enhancement, service, template
