Repository devonfw/devon4j, pull requests merged in 2021-02, with the labels that each got.

#337 updated T-Architecture
  documentation/images/T-Architecture.drawio
  documentation/images/T-Architecture.png
  documentation/images/T-Architecture.svg
  documentation/images/T-Architecture.vsd
  documentation/images/fix-visio-svg.xslt
Labels: architecture, documentation, enhancement

#348 #345: fix to avoid outdated devon4j version without maintenance
  documentation/tutorial-newapp.asciidoc
Labels: documentation, enhancement, template

#352 #85 CI friendly version for enterprise ear
  templates/server/src/main/resources/archetype-resources/__earProjectName__/pom.xml
Labels: bug, enhancement, template

#350 #347: github action for devon4j
  .github/workflows/release.yml
  .github/workflows/sync-docs.yml
Labels: SCM, enhancement
