Repository devonfw/devon4j, pull requests merged in 2021-03, with the labels that each got.

#357 Change documentation for JMS sender layer
  documentation/guide-dataaccess-layer.asciidoc
  documentation/guide-jms.asciidoc
  documentation/guide-logic-layer.asciidoc
Labels: dataaccess, documentation, enhancement, logic

#353 #346 Version variable ignored by maven archetype
  templates/server/.mvn/maven.config
Labels: SCM, enhancement, template

#362 294: config for sonarcloud via GH action
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: SCM, enhancement

#363 #294: sonarcloud
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Labels: SCM, enhancement

#364 #347: #294: improved workflows and sonaranalysis
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  pom.xml
Labels: SCM, enhancement

#367 #366: fixed BaseTest.isInitialSetup()
  modules/test-junit4/src/main/java/com/devonfw/module/test/common/base/BaseTest.java
  modules/test-junit4/src/test/java/com/devonfw/module/test/common/base/BaseTestJunit4Test.java
  modules/test-junit4/src/test/java/com/devonfw/module/test/common/base/BaseTestTest.java
  modules/test/src/main/java/com/devonfw/module/test/common/base/BaseTest.java
  modules/test/src/test/java/com/devonfw/module/test/common/base/BaseTestJunit5Test.java
  modules/test/src/test/java/com/devonfw/module/test/common/base/BaseTestTest.java
Labels: bug, easyfix, enhancement, test
