Repository devonfw/devon4j, pull requests merged in 2021-04, with the labels that each got.

#368 #346 removed changelist from the version.
  .mvn/maven.config
  documentation/pom.xml
  pom.xml
  templates/server/.mvn/maven.config
  templates/server/src/main/resources/archetype-resources/.mvn/maven.config
  templates/server/src/main/resources/archetype-resources/pom.xml
Labels: SCM, enhancement, template

#335 #164 temporary workaround to fix maven-flatten-bug
  templates/server/src/main/resources/archetype-resources/core/pom.xml
Labels: SCM, enhancement, template

#372 #341: updated service-layer doc
  documentation/guide-service-layer.asciidoc
Labels: documentation, enhancement, service

#371 #370: dependency updates
  pom.xml
Labels: enhancement, spring, update

#374 #373: added missing CORS modules
  CHANGELOG.asciidoc
  boms/minimal/pom.xml
  modules/pom.xml
  starters/pom.xml
Labels: SCM, bug, enhancement, security, spring

#375 #358: changed badge to JavaDoc to fix build on windows.
  documentation/tutorial-newapp.asciidoc
Labels: SCM, documentation, enhancement

#376 #323: added spring integration test
  .github/workflows/build-pr.yml
  templates/server/src/main/resources/archetype-resources/core/src/test/java/__packageInPathFormat__/general/common/base/ApplicationTest.java
Labels: enhancement, spring, template, test

#377 #344: updated client doc
  documentation/guide-client-layer.asciidoc
Labels: documentation, enhancement

#379 #359: redo changes (remove BOM, replace Tabs, fix indent)
  templates/server/src/main/resources/archetype-resources/core/pom.xml
Labels: SCM, enhancement, template

#381 Jasypt documentation corrected.
  documentation/guide-configuration.asciidoc
Labels: configuration, documentation, enhancement, security

#382 #85: use revision variable directly
  templates/server/src/main/resources/archetype-resources/.mvn/maven.config
  templates/server/src/main/resources/archetype-resources/__batch__/pom.xml
  templates/server/src/main/resources/archetype-resources/__earProjectName__/pom.xml
  templates/server/src/main/resources/archetype-resources/api/pom.xml
  templates/server/src/main/resources/archetype-resources/core/pom.xml
  templates/server/src/main/resources/archetype-resources/pom.xml
  templates/server/src/main/resources/archetype-resources/server/pom.xml
Labels: SCM, enhancement, template

#383 update docgen to 2021.04.001
  documentation/pom.xml
Labels: SCM, documentation, enhancement
